*{
    margin: 0%;
    padding: 0%;
}

body{
    background: rgb(84, 15, 163);
    padding: 10px 10px 10px 10px;
}

.div1{
    margin-left: 20px;
    margin-top: 30px;
}


.volver{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.volver:hover{
    padding: 10px 10px 10px 10px;
    transition: all .3s;
    background-color: rgb(84, 15, 163);
    border-radius: 10px;
    color: rgb(10, 8, 5);
}


.contenedor{
    margin-top: 30px;
    width: auto;
    height: 1000px;
    background: rgba(18, 18, 163, 0.233);
    text-decoration: none;
}

.manual{
    float: left;
    margin-top: 20px;
    margin-right: 50px;
}

.introduccion{
    font-size: 40px;
    margin-left: 40px;
    color: white;
}

.contenido{
    border: white 1px currentColor;
    width: 720px;
    float: left;
    font-size: 20px;
    background: rgba(173, 216, 230, 0.5);
    padding: 8px 8px 8px 8px;
    margin-bottom: 10px;
}

.contenido1{
    width: 720px;
    float: left;
    font-size: 20px;
    color: white;
    padding: 8px 8px 8px 8px;
    margin-bottom: 10px;
    text-decoration: none;
}

.titulo{
    padding: 10px 10px 10px 10px;
}


.model1{
    float: left;
    margin-top: 60px;
    color: white;
    font-size: 20px;
    width: 720px;
    margin-bottom: 60px;
}

.firtsteam{
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}


.model2{
    margin: auto;
    margin-top: 60px;
    color: white;
    font-size: 20px;
    width: 750px;
}

li{
    padding-top: 10px;
    text-decoration: none;
}


.section{
    width: 720px;
    margin-top: 40px;
    color: white;
    margin: auto;
    font-size: 20px;
    background: rgba(98, 4, 248, 0.431);
    padding: 10px 10px 10px 10px;
    margin-bottom: 30px;
}

.secondteam{
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}


.model3{
    margin: auto;
    color: white;
    font-size: 20px;
    width: 750px;
}

.firtsteam1{
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 20px;

}