body{
    margin: 0%;
    padding: 0%;
}


.dropdown{
    background: rgb(51, 2, 92);
    width: auto;
    height: auto;
}

/*Menu*/


.contenedor{
    border: rgb(84, 15, 163) 2px solid;
    height: 90px;
    background: rgb(84, 15, 163);
}

#estructura {
    transition: padding .5s ease-in-out;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    font-style: unset;
    color: white;
    font-weight: 600;
}

    
.navegacion{
    float: right;
    background: rgb(78, 10, 155);
    text-align: right;
    width: 1000px;
    height: 90px;
    border-bottom-left-radius: 80%;

}
 
.menu > li{
    position: relative;
    display: inline-block;
}
    
.menu > li > a{
    display: block;
    margin-right: 60px;
    margin-left: 20px;
    font-family: 'Open sans';
    text-decoration: none;
    padding: 4px 4px;
}
    
.menu li a:hover{
    transition: all .3s;
    background-color: #2e025298;
    border-radius: 10px;
}


/*FIN DE MENU*/


.div{
    margin: auto;
    width: auto;
    padding: 10px 10px 10px 10px;
}


.titulo{
    margin-top: 40px;
    text-align: center;
}

img{
    float: left;
    width: 600px;
}

.contenido{
    text-align: right;
    padding: 80px 10px 10px 10px;
    font-size: 25px;
}

form{
    margin: auto;
    width: 500px;
    margin-top: 60px;
    font-size: 20px;
}

/*FOOTER*/

footer{
    margin-top: 72px;
    width: auto;
    background: rgb(98, 3, 206);
    height: 100px;
    padding: 10px 10px 10px 10px;
    
}

.año{
    font-size: 30px;
    color:white;
    text-align: center;
}

.bloque1{
    float: left;
}

.num{
    margin: 0%;
    font-size: 15px;
    color: white;
    text-align: left;
    margin-left: 50px;
}

.conta1{
    margin: 0%;
    text-align: left;
    margin-left: 30px;
    border-top: blueviolet 2px solid;
    width: 120px;
}

.conta{
    margin: 0%;
    font-size: 18px;
    color: white;
    text-align: left;
    margin-left: 50px;
    width: 120px;
}


.bloque2{
    float: right;
}

.email{
    margin: 0%;
    font-size: 15px;
    color: white;
    text-align: right;
    margin-right: 50px;
}

.conta2{
    margin: 0%;
    text-align: right;
    margin-right: 40px;
    border-top: blueviolet 2px solid;
    width: 200px;
}

.corre{
    margin: 0%;
    font-size: 18px;
    color: white;
    text-align: right;
    margin-right: 40px;
    width: 120px;
}